@{
    ViewData["ApplicationName"] = System.Configuration.ConfigurationManager.AppSettings["ApplicationName"].ToString();
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@if (ViewBag.Title == null)
        {
            @ViewData["ApplicationName"]
        }
        else
        {
            @ViewBag.Title
        }</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("scripts", required: false)
</head>
<body>
    <div class="container-fluid">
        <div class="nav navbar navbar-inverse">
            <div class="navbar-header">
                @Html.ActionLink("SocialNetwork", "Index", "Home", new { @class = "navbar-brand" })
            </div>

                @Html.Partial("_LoginPartial")
        </div>
    </div>
    
    <div class="container">
        
        @RenderBody()
    </div>
</body>
</html>
