@using SocialNetwork.Models
@model LoginViewModel

@using (Html.BeginForm("Login", "Account",FormMethod.Post, new { @class = "form-inline" }))
{
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-md-4">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = Html.NameFor(m => m.Email) })
        </div>

        <div class="col-md-4">
            @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = Html.NameFor(m => m.Password) })
        </div>

        <div class="col-md-4">
            <button type="submit" class="form-control btn btn-primary">Connexion</button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">@Html.CheckBoxFor(m => m.RememberMe) @Html.LabelFor(m => m.RememberMe, new { style = "display: inline;" })</div>

        <div class="col-md-4">@Html.ActionLink("Mot de passe oublié ?", "ForgotPassword", "Account")</div>

        
    </div>


    

}
